<div class="navbar-nav">
    <a class="nav-item nav-link active" href="{{ path('store_category_show_all') }}">Show</a>
    <a class="nav-item nav-link" href="{{ path('store_category_new') }}">New</a>
</div>